@model IEnumerable<Mod>
@if (ViewData.ModelState.IsValid)
{
    <h1>Mods</h1>
    <ol>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
    </ol>
}
else
{
    <h1> Errors</h1>
    foreach (var (item, error) in ViewData.ModelState)
    {
        <b>@item</b> @error
    }
}